{% extends "base/base.html.twig" %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Créer une nouvelle Box</h1>

        <div class="bg-white shadow-md rounded-lg p-6">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Choisissez une option :</label>
                <div class="flex space-x-4">
                    <a href="{{url_for('creer_box_perso') }}" class="flex-1">
                        <button class="w-full bg-gradient-to-r from-purple-500 to-indigo-600 hover:from-purple-600 hover:to-indigo-700 text-white font-bold py-2 px-4 rounded transform transition-transform duration-300 hover:scale-105">
                            Créer une Box <br>Personnalisée
                        </button>
                    </a>
                    <a href="{{url_for('creer_box_modele') }}" class="flex-1">
                        <button class="w-full bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 text-white font-bold py-2 px-4 rounded transform transition-transform duration-300 hover:scale-105">
                            Créer une Box à partir d'un <br>Coffret-type
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
