{% for theme in themes %}
    <div id="theme-{{ theme.id }}" class="themes-details hidden">
        {% if theme.coffrets is empty %}
            <div class="mt-8 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4">
                Aucun coffret disponible pour ce thème.
            </div>
        {% else %}
            {% include "theme/coffret_prestations.html.twig" with {"theme":theme} %}
        {% endif %}
    </div>
{% endfor %}