{% extends "base/base.html.twig" %}

{% block body %}
    <h1>Se connecter</h1>
    <form action="{{ url_for('post_signin') }}" method="post" class="bg-white shadow-md rounded-lg p-6 m-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="text" placeholder="exemple@mail.com" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Mot de passe
            </label>
            <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Renseignez votre mot de passe" required>
        </div>

        <div class="mb-6">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Se connecter
            </button>
        </div>
        <a href="{{ url_for('creer_compte') }}" class="hover:text-blue-300 text-blue-500 font-bold py-2 rounded focus:outline-none focus:shadow-outline">
            Pas encore de compte ? Créez en un dès maintenant !
        </a>
    </form>
{% endblock %}