{% extends "categories.html.twig" %}

{% block body %}
    <h1>Bienvenue sur Giftbox !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed placerat nisi.
        Aenean aliquam elementum turpis, vel lacinia elit porttitor a.
        Nam fringilla risus vitae elit bibendum egestas. Donec euismod ac purus vel ultricies.
        Aenean dapibus ornare sodales. Praesent egestas pellentesque pulvinar.
        Sed pellentesque orci leo, id fermentum mi varius tincidunt. Quisque vel turpis nunc.
        Vivamus eu erat quis nunc elementum laoreet. Nullam mauris massa, pharetra non blandit ac, tempus ac dolor.
        Suspendisse ut nibh nec ligula fringilla gravida. Morbi rhoncus arcu id purus condimentum, at porta est convallis.</p>

    <a class="px-3 py-1 bg-purple-100 text-purple-800 rounded hover:bg-purple-200 transition" href="/categories">Accéder aux catégories</a>
{% endblock %}