<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Giftbox{% endblock %}</title>

        <script src="https://cdn.tailwindcss.com"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-gray-50 text-gray-800 min-h-screen flex flex-col">

        {% include "base/header.html.twig" %}

        <div class="flex flex-grow">
            {% include "base/nav.html.twig" %}
            <main class="max-w-7xl mx-auto p-6">
                {% block body %}{% endblock %}
            </main>
        </div>

        {% block javascripts %}{% endblock %}

        {% include "base/footer.html.twig" %}
    </body>
</html>
