{% extends "base/base.html.twig" %}

{% block body %}
    <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">Coffrets :</h2>
        <div class="flex flex-wrap gap-2">
            {% for coffret in coffrets %}
                <button
                        data-coffret-id="{{ coffret.id }}"
                        class="coffret-button px-3 py-1 bg-purple-100 text-purple-800 rounded hover:bg-purple-200 transition">
                    {{ coffret.libelle }}
                </button>

            {% else %}
                <p class="text-gray-500">Aucun coffret-type disponible.</p>
            {% endfor %}
        </div>
    </div>

    {% include "coffret/coffret_prestations.html.twig" %}
    {% include "coffret/script.html.twig" %}
{% endblock %}